:root {
  --template-icon-dark: url('template-icon-dark.svg');
  --template-icon-light: url('template-icon-light.svg');
  --template-icon: var(--template-icon-light);
  --tempalte-down-arrow-icon-dark: url('down-arrow-dark.svg');
  --tempalte-down-arrow-icon-light: url('down-arrow-light.svg');
  --tempalte-down-arrow-icon: var(--tempalte-down-arrow-icon-light);
  --tempalte-right-arrow-icon-dark: url('right-arrow-dark.svg');
  --tempalte-right-arrow-icon-light: url('right-arrow-light.svg');
  --tempalte-right-arrow-icon: var(--tempalte-right-arrow-icon-light);
}

[data-jp-theme-light="true"] .jp-multicontents-templates-icon {
  --template-icon: var(--template-icon-light);
}

[data-jp-theme-light="false"] .jp-multicontents-templates-icon {
  --template-icon: var(--template-icon-dark);
}

[data-jp-theme-light="true"] .jp-multicontents-templates-item-icon {
  --template-icon: var(--template-icon-light);
}

[data-jp-theme-light="false"] .jp-multicontents-templates-item-icon {
  --template-icon: var(--template-icon-dark);
}

[data-jp-theme-light="true"] .jp-multicontents-templates-expanded-folder-icon {
  --tempalte-down-arrow-icon: var(--tempalte-down-arrow-icon-light);
}

[data-jp-theme-light="false"] .jp-multicontents-templates-expanded-folder-icon {
  --tempalte-down-arrow-icon: var(--tempalte-down-arrow-icon-dark);
}

[data-jp-theme-light="true"] .jp-multicontents-templates-folded-folder-icon {
  --tempalte-right-arrow-icon: var(--tempalte-right-arrow-icon-light);
}

[data-jp-theme-light="false"] .jp-multicontents-templates-folded-folder-icon {
  --tempalte-right-arrow-icon: var(--tempalte-right-arrow-icon-dark);
}


.jp-multicontents-templates-icon {
  background-image: var(--template-icon);
  min-width: 16px;
  min-height: 16px;
  background-size: 16px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.jp-multicontents-templates-expanded-folder-icon {
  background-image: var(--tempalte-down-arrow-icon);
  min-width: var(--jp-ui-font-size0);
  min-height: var(--jp-ui-font-size0);
  background-size: var(--jp-ui-font-size0);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  padding-right: var(--jp-ui-font-size0);
}

.jp-multicontents-templates-folded-folder-icon {
  background-image: var(--tempalte-right-arrow-icon);
  min-width: var(--jp-ui-font-size0);
  min-height: var(--jp-ui-font-size0);
  background-size: var(--jp-ui-font-size0);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  padding-right: var(--jp-ui-font-size0);
}

.jp-multicontents-templates-item-icon {
  background-image: var(--template-icon);
  min-width: var(--jp-ui-font-size0);
  min-height: var(--jp-ui-font-size0);
  background-size: var(--jp-ui-font-size0);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  padding-right: var(--jp-ui-font-size0);
}

.multicontents-templates {
  display: flex;
  flex-direction: column;
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size1);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.multicontents-templates-list {
  height: 100%;
  overflow: auto;
}

.multicontents-templates h1 {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.multicontents-templates-ul {
  list-style: none;
  padding: 5px 0 5px 10px;
  width: 100%
}

.multicontents-item {
  width: 100%;
}

.multicontents-item div {
  width: 100%;
}

.multicontents-item div:hover {
  background-color: var(--jp-layout-color2);
}

.template-notebook {
  margin: 5px 0 5px 10px;
}

.multicontents-save-input {
  width: 100%;
  border-width: 0 0 1px 0;
}

.share-link {
  width: 100%;
  min-width: 900px;
}

.share-link div {
  width: 90%;
  margin: 10px;
}

.share-link-input {
  width: 90%;
  padding: 10px;
  border-width: 1px;
  border-radius: 5px;
}

/* loader css, copied from https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 2px solid #f3f3f3;
  /* Light grey */
  border-top: 2px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
